# Dependencies
**/node_modules/
**/package-lock.json

# Build outputs
**/dist/
**/coverage/
**/.angular/

# Environment
**/.env
**/.env.local
**/.env.*.local

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
**/*.log